# Data Analysis Project T2 2024

## Exercise 1

### 1. Data Preperation

In [27]:
#Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
#Load dataset
data = pd.read_csv('Walmart_sales.csv')

data.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [18]:
#Dataset info
print("The Dataset consists of: ", data.shape[0], " rows and ", data.shape[1], " columuns")

print("\n\nCheck for null values and data types\n")
print(data.info())
print(data.describe())

print("\nnumber of unique store values\n")
print(data.nunique())

The Dataset consists of:  6435  rows and  8  columuns


Check for null values and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB
None
             Store  Weekly_Sales  Holiday_Flag  Temperature   Fuel_Price  \
count  6435.000000  6.435000e+03   6435.000000  6435.000000  6435.000000
mean     23.000000  1.046965e+06      0.069930    60.663782     3.358607
std      12.988182  5.643666e+05      0.255049    18.444933     0.459020
min       1.000000  2.099862e+05      0.000000    -2.060000     2.472000
25%      12.000000  5.533501e+05      0.000000    47.460000     2.933000
50%      23.000000  9.607460e+05      0.000000    62.670000     3.445000
75%      34.000000  1.420159e+06      0.000000    74.940000     3.735000
max      45.000000  3.818686e+06      1.000000   100.140000     4.468000

               CPI  Unemployment
count  6435.000000   6435.000000
mean    171.578394      7.999151
std      39.356712      1.875885
min     126.064000      3.879000
25%     131.735000      6.891000
50%     182.616521      7.874000
75%     212.743293      8.622000
max     227.232807     14.313000

number of unique store values

Store             45
Date             143
Weekly_Sales    6435
Holiday_Flag       2
Temperature     3528
Fuel_Price       892
CPI             2145
Unemployment     349
dtype: int64

In [22]:
# Convert date column to datetime datatype.
data['Date'] = pd.to_datetime(data['Date'], format='%d-%m-%Y')
print(data['Date'].dtype)

data.head()

datetime64[ns]

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

In [26]:
# Remove duplicates
duplicate_count = data[data.duplicated()].shape[0]
print("Duplicates found: ", duplicate_count)

Duplicates found:  0

In [33]:
# Check for missing data
missing_data = data.isnull().sum()
print("Number of missing data(null values):")
print(missing_data)

Number of missing data(null values):
Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [34]:
# Save cleaned dataset to a CSV
data.to_csv('cleaned_dataset.csv', index=False)

### 2. Basic Analysis

#### Total Sales Revenue

In [42]:
# Get sum of weekly sales
total_sales = data['Weekly_Sales'].sum()

# Find for each store
total_sales_per_store = data.groupby('Store')['Weekly_Sales'].sum().map('${:,.2f}'.format)
sorted_total_sales_per_store = total_sales_per_store.sort_values(ascending=False)

print("Total sales:")
print('${:,.2f}'.format(total_sales))


print("\nTop 5 stores from Sales:")
print(sorted_total_sales_per_store.head(5))

Total sales:
$6,737,218,987.11

Top 5 stores from Sales:
Store
43    $90,565,435.41
15    $89,133,683.92
7     $81,598,275.14
42    $79,565,752.43
9     $77,789,218.99
Name: Weekly_Sales, dtype: object

In [57]:
# Average order value.
# Order value is obtained from CPI (Consumer Price Index) column

avg_order_val = data['CPI'].mean()
print("Average order value:", '${:,.2f}'.format(avg_order_val))

#Top 5 stores by number of orders
avg_per_store = data.groupby('Store')['CPI'].mean().map('${:,.2f}'.format)
sorted_avg_per_store = avg_per_store.sort_values(ascending=False)

print("\nTop 5 stores from average order values:")
print(sorted_avg_per_store.head(5))

Average order value: $171.58

Top 5 stores from average order values:
Store
9     $219.63
8     $219.44
11    $219.39
3     $219.39
6     $217.55
Name: CPI, dtype: object

In [54]:
# Total number of orders

#Assuming CPI gives the average order values for the week
data['Orders'] = (data['Weekly_Sales'] / data['CPI']).astype(int)

total_orders = data['Orders'].sum()
print("Total number of orders:", total_orders)

#Top 5 stores by number of orders
total_orders_per_store = data.groupby('Store')['Orders'].sum()
sorted_total_orders_per_store = total_orders_per_store.sort_values(ascending=False)

print("\nTop 5 stores from Sales:")
print(sorted_total_orders_per_store.head(5))

Total number of orders: 41768260

Top 5 stores from Sales:
Store
4     2326740
13    2226288
10    2111728
27    1827551
14    1553825
Name: Orders, dtype: int64